/* This css file is included by being imported in index.js */

body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    width: 100%
}

h1 {
    font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
    font-size: 36px;
}

h2 {
    font-size: 20px;
}

.content {
    width: 700px;
    margin: auto;
}

table {
    margin: auto;
    left: auto;
    right: auto;
   
}

tr:nth-child(even) {
    background-color: #c4c4c5;
}
tr:nth-child(odd) {
    background-color: #e5e5ea;
}

td {
    max-width: 150px;
	min-width: 150px;
    text-align: left;
	padding:8px;
}

th {
    text-align: center;
    color: #22262b;
    background-color: #758294;
	border-top-left-radius: 10px;
    border-top-right-radius: 10px;
	padding:10px;
}
tr{

}
td:nth-child(1),td:last-child {
    text-align: center
}

#view{
	position: absolute;
	top: 130px;
}
/* server connection status */
#connectionStatus,#connectionStatusIcon{
	position: relative;
	float: left;
}
#connectionStatus{
	margin-left:5px;
}
#connectionStatusIcon{
	height:20px;
	width:20px;
	border-radius:50%;
	margin-bottom: 16px;
}
.serverIdeal{
	background:gray;
}
.serverSuccess{
	background:green;
}
.serverError{
	background:red;
}