/* This css file is included by being imported in index.js */

/* common CSS */
body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
}

#view{
	position: relative;
}
h4{
	margin:5px;
}

/* table css */
table {
    margin: auto;
    left: auto;
    right: auto;
}

tr:nth-child(even) {
    background-color: #c4c4c5;
}
tr:nth-child(odd) {
    background-color: #e5e5ea;
}

td {
    max-width: 150px;
	min-width: 150px;
    text-align: left;
	padding:8px;
}

th {
    text-align: center;
    color: #22262b;
    background-color: #758294;
	border-top-left-radius: 10px;
    border-top-right-radius: 10px;
	padding:10px;
}

td:nth-child(1),td:last-child {
    text-align: center
}

/* server connection status */
#connectionStatusContainer{
    width: 200px;
    height: 30px;
    padding-top: 8px;
    padding-left: 7px;
    background: linear-gradient(to right, rgba(99, 128, 166, 0.4) , rgba(99, 128, 166, 0));
    margin-bottom: 15px;
    margin-top: 10px;
    border-radius: 17px 0 0 17px;
}
#connectionStatusTxt,#connectionStatusIcon{
	position: relative;
	float: left;
}
#connectionStatusTxt{
	margin-left:5px;
}
#connectionStatusIcon{
	height:20px;
	width:20px;
	border-radius:50%;
	
}
.serverIdeal{
	background:#675e5e;
}
.serverSuccess{
	background:#22d222;
	animation: blinker 1s linear infinite;
}
.serverError{
	background:#ce2727;
}
@keyframes blinker {  
  50% { opacity: 0; }
}